/* Reset and base styles  */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Raleway:wght@400;700&family=Roboto:wght@300&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button {
  display: inline-block;
  box-shadow: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body {
  font-family: "Raleway", sans-serif;
  background-color: #0d7a84;
  color: #ffffff;
  font-size: 16px;
  overflow-x: hidden;
}

a {
  color: #ffffff;
  transition: color 0.2s ease-in;
}
a:hover {
  color: #d4c17f;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
  max-width: 1140px;
}
.container--sm {
  max-width: 980px;
}

.text-right {
  text-align: right;
}

.visually-hidden {
  height: 1px;
  overflow: hidden;
  width: 1px;
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  white-space: nowrap;
}

.title-2 {
  font-size: 36px;
  font-family: "Playfair Display", serif;
  color: #d4c17f;
  font-weight: 700;
}

.link-bold {
  color: #d4c17f;
  font-weight: 700;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 840px;
  padding: 30px 0 74px 0;
  background: linear-gradient(180deg, #0d7a84 11.98%, rgba(45, 59, 60, 0.38) 51.04%, #0d7a84 82.19%), url("../img/saw.jpg");
}

.header__top-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__main-title {
  text-align: center;
  color: #d4c17f;
  font-size: 48px;
  font-family: "Playfair Display", serif;
  font-weight: 700;
}

.header__footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  -moz-column-gap: 60px;
       column-gap: 60px;
}

.header__about {
  padding: 30px 0 0 0;
}

.nav {
  font-size: 14px;
  letter-spacing: 0.05em;
}

.nav__list {
  display: flex;
  -moz-column-gap: 40px;
       column-gap: 40px;
}

.info {
  position: relative;
  font-size: 18px;
  padding-left: 35px;
}
.info--map::before, .info--tel::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 21px;
  height: 21px;
  background-repeat: no-repeat;
}
.info--map::before {
  background-image: url("../../img/placeholder.svg");
}
.info--tel::before {
  background-image: url("../../img/call.svg");
}

.benefits {
  padding: 120px 0;
}

.benefits__row {
  display: flex;
  -moz-column-gap: 70px;
       column-gap: 70px;
}

.benefits__item {
  text-align: center;
  width: 180px;
}

.benefits__item-img {
  margin-bottom: 53px;
}

.benefits__item-text {
  font-size: 20px;
  line-height: 1.35;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.apartments__title {
  margin-bottom: 88px;
}

.apartments__cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.card {
  position: relative;
  display: inline-block;
  overflow: hidden;
}
.card::before {
  content: "";
  position: absolute;
  opacity: 1;
  z-index: 6;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(8, 153, 166, 0) 0%, #0d7a84 100%);
}
.card::after {
  opacity: 0;
  content: "";
  position: absolute;
  z-index: 7;
  left: 15px;
  top: 15px;
  right: 15px;
  bottom: 15px;
  border: 3px double rgba(255, 255, 255, 0.4);
  transition: opacity 0.2s ease-in;
}
.card:hover {
  color: #ffffff;
}
.card:hover::before {
  opacity: 0;
}
.card:hover::after {
  opacity: 1;
}

.card__img {
  position: relative;
  z-index: 5;
  transition: all 0.2s ease-in;
}

.card:hover .card__img {
  transform: scale(1.1);
  filter: contrast(110%) brightness(1) saturate(1.2);
}

.card__title {
  position: absolute;
  z-index: 7;
  left: 50px;
  right: 20px;
  bottom: 44px;
  font-size: 24px;
}

.cta {
  padding: 180px 0;
  background: linear-gradient(180deg, #0d7a84 1.42%, rgba(36, 49, 51, 0) 40.52%, #0d7a84 110.1%), linear-gradient(0deg, rgba(23, 120, 131, 0.9) 0%, rgba(20, 162, 164, 0.633) 100%), url("../img/lon.jpg");
}

.cta__title {
  margin-bottom: 17px;
}

.cta__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.cta__text {
  font-size: 16px;
  line-height: 1.5;
}

.cta__form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 35px 30px;
}

.form__input {
  width: 255px;
  height: 50px;
  padding: 12px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.2);
  color: #ffffff;
  font-size: 14px;
  transition: background-color 0.2 ease-in;
}
.form__input::-moz-placeholder {
  color: #e0e0e0;
}
.form__input::placeholder {
  color: #e0e0e0;
}
.form__input:focus {
  background-color: rgba(255, 255, 255, 0.3);
}

.form__privacy {
  font-size: 13px;
  color: #e7e7e7;
  text-align: center;
  line-height: 1.23;
}

.form_button {
  width: 255px;
  height: 50px;
  padding: 12px 20px;
  font-size: 16px;
  color: #ffffff;
  background-color: #d4c17f;
  font-weight: 700;
  text-align: center;
  transition: background-color 0.2 ease-in;
}
.form_button:hover {
  background-color: #ddc676;
}

.footer {
  padding: 72px 0 51px 0;
  background-color: rgba(15, 139, 145, 0.8431372549);
  font-size: 14px;
  letter-spacing: 0.05rem;
}

.footer__row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.footer__nav-list {
  display: grid;
  gap: 15px;
}

.footer__address {
  display: grid;
  gap: 20px;
}

.footer__socials {
  display: flex;
  -moz-column-gap: 22px;
       column-gap: 22px;
  align-items: center;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 180px;
  padding: 5px 10px;
  font-family: "Playfair Display", serif;
  font-size: 28px;
  border: 5px solid #d4c17f;
  border-radius: 15px;
  color: #d4c17f;
}

.logo--secondary {
  font-size: 14px;
  color: #ffffff;
}

.hero {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.hero__gradient {
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #0d7a84 1.98%, rgba(45, 59, 60, 0.38) 51.04%, #0d7a84 62.19%);
  position: absolute;
  top: 0;
  text-align: center;
  z-index: 1;
}

#background-video {
  width: 100vw;
  -o-object-fit: cover;
     object-fit: cover;
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.about__box {
  position: absolute;
  z-index: 2;
  bottom: 80px;
  left: 22%;
}

.about__title {
  color: #d4c17f;
  font-size: 48px;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  margin-bottom: 40px;
}

.about__text {
  font-size: 20px;
  line-height: 1.3;
}

.amenities {
  background: linear-gradient(180deg, #0d7a84 1.42%, rgba(36, 49, 51, 0) 40.52%, #0d7a84 110.1%), linear-gradient(0deg, rgba(23, 120, 131, 0.9) 0%, rgba(20, 162, 164, 0.633) 100%), url("../img/amenities/water.jpg");
}

.amenities__title {
  margin-bottom: 40px;
}

.amenities__item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 60px;
  margin-bottom: 100px;
  padding: 20px;
  background-color: rgba(0, 128, 128, 0.715);
}

.amenities__card {
  position: relative;
  display: inline-block;
  z-index: 1;
}
.amenities__card::after {
  content: "";
  position: absolute;
  z-index: 2;
  left: 15px;
  top: 15px;
  right: 15px;
  bottom: 15px;
  border: 3px double rgba(255, 255, 255, 0.4);
}

.amenities__item-icon {
  width: 80px;
  height: 80px;
  margin-bottom: 10px;
}

.amenities__item-title {
  color: #d4c17f;
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-size: 28px;
  margin-bottom: 30px;
}

.amenities__item-text {
  line-height: 1.4;
}

.contact {
  position: relative;
  padding: 80px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #0d7a84 1.42%, rgba(36, 49, 51, 0) 40.52%, #0d7a84 110.1%), linear-gradient(0deg, rgba(23, 120, 131, 0.9) 0%, rgba(20, 162, 164, 0.633) 100%), url("../../img/buildings.jpg");
}

.contact__main-title {
  color: #d4c17f;
  font-size: 48px;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  margin-bottom: 20px;
}

.contact__text {
  font-size: 20px;
}

.contact__address-icon {
  width: 40px;
  height: 40px;
}

.contact__address-title {
  font-family: "Playfair Display", serif;
  font-size: 24px;
  font-weight: 500;
  color: #d4c17f;
}

.contact__form-content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.contact__form-list {
  width: 50%;
}/*# sourceMappingURL=main.css.map */