.contact{
    position: relative;
    padding: 80px 0;
    display: flex;
    justify-content: center;
    align-items: center;

    background: 
    linear-gradient(
    180deg,
    $dark 1.42%,
    rgba(36, 49, 51, 0) 40.52%,
    $dark 110.1%), 
    linear-gradient(
    0deg,
    rgba(23, 120, 131, 0.9) 0%,
    rgba(20, 162, 164, 0.633) 100%),
    url('../../img/buildings.jpg');
}

.contact__main-title{
    color: $accent;
    font-size: 48px;
    font-family: $font-accent;
    font-weight: 700;
    margin-bottom: 20px;
    
}

.contact__text{
    font-size: 20px;
}


.contact__address-icon{
width: 40px;
height: 40px;
}

.contact__address-title{
    font-family: $font-accent;
    font-size: 24px;
    font-weight: 500;
    color: $accent;
}

.contact__form-content{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.contact__form-list{ 
    width: 50%;
}

.contact__address-box{
    
}