
.contact{
    position: relative;
    width: 100%;
    padding: 80px 0;
    display: flex;
    justify-content: center;
    align-items: center;

    background: 
    linear-gradient(
    180deg,
    $dark 1.42%,
    rgba(36, 49, 51, 0) 40.52%,
    $dark 110.1%), 
    linear-gradient(
    0deg,
    rgba(23, 120, 131, 0.9) 0%,
    rgba(20, 162, 164, 0.633) 100%),
    url('../../img/buildings.jpg');
}

.contact__main-title{
    color: $accent;
    font-size: 48px;
    font-family: $font-accent;
    font-weight: 700;
    margin-bottom: 20px;
    
}

.contact__text{
    font-size: 20px;
    margin-bottom: 40px;
}


.contact__address-icon{
width: 40px;
height: 40px;
}

.contact__address-title{
    font-family: $font-accent;
    font-size: 24px;
    font-weight: 500;
    color: $accent;
}

.contact__form-content{
    width: 1000px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.contact__form-list{ 
    width: 50%;
}


.contact__address-card:not(:last-child){
    margin-bottom: 30px ;
}

.contact__address-content--box{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}


.contact__address-icon{
    margin-right: 12px;
    }

.contact__form-container{
    width: 600px;
    height: 450px;
    padding: 20px;
    background-color: rgba(0, 128, 128, 0.715);

}

.contact__form-title{
    font-family: $font-accent;
    font-size: 28px;
    font-weight: 500;
    color: $accent;
    margin-bottom: 20px;
}

.contact__form-item{
    position: relative;
    width: 100%;
}

.contact__form-input{
width: 550px;
padding: 10px 0;
background-color: transparent;
border-bottom:2px solid $accent;
margin-bottom: 12px;
color: $white;

&::placeholder{
    color: $accent;
}
}

.input-control{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;


}

#error{
    display: none;
    color: #ed7474;
    font-size: 15px;
    height: 13px;
}



.contact__form-textarea{
    width: 550px;
    height: 100px;
    background-color: transparent;
    border-bottom:2px solid $accent;
    margin-bottom: 45px;
    color: $white;
    resize: none;
    outline: none;

    &::placeholder{
        color: $accent;
    }
} 
