.container{
    max-width: 1170px;
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 60px;
}

.flats__box{ 
    // height: 100%;
    display: flex;
    justify-content: space-between;

}

.main{
    width:820px;
    height:100%;
    padding: 30px 15px;
    background-color: rgba(92, 176, 176, 0.396);
}

.cards-holder{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

.sidebar{
    width: 270px;
   
    
}

// card

.flat__card{
    position: relative;
    width: 300px;
    background-color: $accent;
}

a.flat__card-link{
    display: inline-block;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

a.flat__card-link:hover{
    opacity: 0.8 ;
    transform: translateY(-5px);
}

.flat__card-badges{
    position: absolute;
    top: 10px;
    left: 15px;
    right: 15px;
    display: flex;

}

.flat__card-badge{
    display: inline-block;
    height: 22px;
    padding: 0 10px;
    border-radius: 4px;
    font-size: 14px;
    color: $white;
    line-height: 22px;
}

.flat__card-badge--class{
    background-color: $accent;
}

.flat__card-badge--credit{
    background-color: $footer-bg;

}


.flat__card-badge:not(:last-child){
    margin-right: 10px;
}



.flat__card--content{
    padding: 15px 15px 20px ;
}

.flat__card--title{
    margin-bottom: 10px;
    font-family: $font-accent;
    font-weight: bold;
    font-size: 18px;
    line-height: 1.16;
    color: $white;
}

.flat__card--term,
.flat__card--metro{
    margin-bottom: 10px;

    font-size: 14px;
    line-height: 1.14;
    color: $white;
}

.flat__card--metro::before{
    content:'';
    margin-right: 10px;
    display: inline-block;
    vertical-align:sub;
    width: 20px;
    height: 20px;
    background-image: url('../../img/apartaments/metro.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.flat__card--address{
    font-size: 14px;
    line-height: 1.14;
    color: #008080;
}

.btn-more{
    width: 100%;
    padding: 15px;
    text-align: center;
    background: rgba(255, 255, 255, 0.295);
    cursor: pointer;

    &:hover{
        background-color: #d4c17f6a;
    }
}


//sidebar
.widget{
margin-bottom: 40px;
}

.widget__title{
    position: relative;
    font-weight: bold;
    font-size: 18px;
    line-height: 1.16;
    margin-bottom: 20px;

    &::after{
        content: '';
        width: 20px;
        height: 20px;
        // background-color: red;
        position: absolute;
        right: 0;
        top: 0;
        background-image: url('../../img/apartaments/up.png');
        background-repeat: no-repeat;
        background-size: contain;
    }
}

.widget__body{

}

//location-buttons group
.location{
    
}

.location__row{
display: flex;

}

.location__checkbox{ 
    width: 1px;
    height: 1px;
    position: absolute;
    opacity: 0;
    appearance: none;
    
    &:checked + .location__btn{
        background-color: $accent;
    }
}

.location__btn{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: transparent;
border: none;
font-weight: normal;
font-size: 14px;
line-height: 16px;
padding: 0 15px;
border: 1px solid #d4c17f6a;
cursor: pointer;
transition: background 0.2s ease-in;

&:hover{
    background: #d4c17f6a;
}
}

//radio

.radio{
    display: flex;
    cursor: pointer;

    & + .radio{
        margin-top: 15px;
    }
    
}

.radio__real{
width: 1px;
height: 1px;
position: absolute;
opacity: 0;
appearance: none;

    &:checked + .radio__fake::before{
        position: absolute;
        top: 50%;
        left: 50%;
        content: '';
        border-radius: 50%;
        width: 5px;
        height: 5px;
        background-color: $accent;
        transform: translate(-50%, -50%);
    }
}

.radio__fake{
    position: relative;
    display: inline-block;
    vertical-align: bottom;
width: 21px;
height: 21px;
margin-right: 10px;
background-color: rgba(255, 255, 255, 0.301);
border: 1px solid $accent;
box-sizing: border-box;
border-radius: 50%;
}

.radio__title{
font-weight: 500;
font-size: 16px;
line-height: 1.18;
}


.toggle__title{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;

}

.toggle__real{
    width: 1px;
height: 1px;
position: absolute;
opacity: 0;
appearance: none;
}

.toggle__real:checked {

    & ~ .toggle__title{
        font-weight: 800;
    }

    & + .toggle__fake{
        background-color: #edd16f6a;
    }

    & + .toggle__fake::before{
        left: auto;
        right: 2px;
    }
}

.toggle__fake{
    position: relative;
    display: inline-block;
    width: 37px;
    height: 22px;
    background: #ebe9e968;
    border-radius: 10px;
    border: 1px solid $accent;

    &::before{
        position: absolute;
        top: 2px;
        left: 2px;
        content: '';
        width: 14px;
        height: 14px;
        background-color: $accent;
        border-radius: 50%;
        transition: all 0.3s ease-in-out
    }
}