.header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 840px;
    padding: 10px 0 74px 0;

    background: linear-gradient(
        180deg,
        #0d7a84 11.98%,
        rgba(45, 59, 60, 0.38) 51.04%,
        #0d7a84 82.19%
        ),
     url('../img/saw.jpg');
}

.header__top-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}





.header__main-title{
    text-align: center;
    color: $accent;
    font-size: 48px;
    font-family: $font-accent;
    font-weight: 700;
}


.header__footer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
}

.header__about{
    // height: 340px;
    padding: 30px 0 0 0;
}

.header__contact{
    // display: flex;
    // flex-direction: column;
    // justify-content: space-between;
    // min-height: 840px;
    padding: 30px 0 0 0;
}