// fonts

$font-main: 'Raleway', sans-serif;
$font-accent: 'Playfair Display', serif;
$font-secondary: 'Roboto', sans-serif;

// colors
$dark: #0d7a84;
$white: #ffffff;
$accent: #d4c17f;
$footer-bg: #2d3c2e;



